---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h3>Hi there 👋</h3>

			<p>I help businesses solve problems via technology.<br>
			I enjoy coding and learning things.</p>

			<hr>

			<h4>My stack:</h4>

			<ul>
				<li>AWS Certified: Solutions Architect Associate ✅</li>
				<li>AWS Certified: Developer Associate (in progress)</li>
				<li>Backend: Typescript | Javascript | Deno | Node.js | NestJS</li>
				<li>Frontend: Svelte | Angular | React | Next</li>
				<li>Data: Postgres | DynamoDB | Mongo</li>
				<li>IAC: CDK | SST | Terraform | SAM | Serverless</li>
			</ul>

			<p>More:</p>

			<ul>
				<li>🔭 I’m currently working on ____________</li>
				<li>🌱 I’m currently learning <strong>Golang</strong></li>
				<li>💡 I’m curious about <strong>Elixir</strong> | <strong>Kubernetes</strong> | <strong>Azure</strong></li>
				<li>📫 How to reach me: <a href="mailto:plinths.beanie-0i@icloud.com">Email</a> or <a href="https://www.linkedin.com/in/marcelo-bairros/">Linkedin</a></li>
				<li>⚡ Fun fact: I play Call of Duty sometimes and I'm terrible at it</li>
			</ul>

		</main>
		<Footer />
	</body>
</html>
